body{
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    background: #F3F5FC;
}
header{
    width: 14%;
    height: 100vh;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
}
main{
    width: 84%;
    height: 100%;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
}
.entrada-texto{
    width: 59%;
    height: 90%;
    display: inline-block;
    padding: 10px 30px 10px 20px;
    margin: 10px 10px;
    box-sizing: border-box;
    vertical-align: top;
}
.entrada-texto textarea{
    display: block;
    font-size: 20px;
    color: rgb(23, 35, 99);
    width: 100%;
    height: 80%;
    border: none;
    box-sizing: border-box;
    background: none;
}
.entrada-texto:active{
    border: none;
}
.entrada-texto textarea::placeholder{
    color: #0A3871;
}
.entrada-texto p{
    font-size: 15px;
    margin: 10px 0 0;
    color: #495057;
}