body{
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    background: #F3F5FC;
}
header{
    width: 14%;
    height: 100vh;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
}
main{
    width: 84%;
    height: 100%;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
}
.entrada-texto{
    width: 59%;
    height: 90%;
    display: inline-block;
    padding: 10px 30px 10px 20px;
    margin: 10px 10px;
    box-sizing: border-box;
    vertical-align: top;
}
