body{
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    background: #F3F5FC;
}
header{
    width: 14%;
    height: 100vh;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
}
.logo{
    margin: 15px;
    padding: 15px;
}
.logo img{
    width: 40px;
}
main{
    width: 84%;
    height: 100%;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
}
.entrada-texto{
    width: 59%;
    height: 90%;
    display: inline-block;
    padding: 10px 30px 10px 20px;
    margin: 10px 10px;
    box-sizing: border-box;
    vertical-align: top;
}
.entrada-texto textarea{
    display: block;
    font-size: 20px;
    color: rgb(23, 35, 99);
    width: 100%;
    height: 80%;
    border: none;
    box-sizing: border-box;
    background: none;
}
.entrada-texto:active{
    border: none;
}
.entrada-texto textarea::placeholder{
    color: #0A3871;
}
.entrada-texto p{
    font-size: 15px;
    margin: 10px 0 0;
    color: #495057;
}
.admiracion{
    margin: 1px 5px 0 0;
}
.boton{
    width: 47.5%;
    margin: 10px 0 10px 0;
    padding: 24px;
    border-radius: 24px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    transition: 0.4s all;
    
}
.boton:hover{
    padding: 25px;
}
#encriptar{
    float: left;
    background: #0A3871;
    color: #D8DFE8;
}
#encriptar:hover{
    background: #D8DFE8;
    color: #0A3871;
}
.boton:last-child{
    float: right;
    background: #D8DFE8;
    color: #0A3871;
}
.boton:last-child:hover{
    background: #0A3871;
    color: #D8DFE8;
}
.salida-texto{
    width: 34%;
    height: 92%;
    display: inline-block;
    padding: 40px 20px;
    margin: 30px 10px;
    box-sizing: border-box;
    vertical-align: middle;
    background: #FFFFFF;
    border-radius: 32px;
    position: relative;
    float: right;
    box-shadow: 0 16px 20px 0.0002px #F0FFE9;

}
.mensaje-salida{
    padding: 100px;
}
#texto-salida{
    font-size: 13px;
    color: #0A3871;
    text-align: left;
    position: absolute;
    bottom: 95%;
    left: 4%;
}
#btncopiar{
    width: 90%;
    margin: 10px 0 10px 0;
    padding: 24px;
    border-radius: 24px;
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    transition: 0.4s all;
    position: absolute;
    top: 85%;
    left: 4%;
}
#btncopiar:hover{
    padding: 25px;
    color: #D8DFE8;
    background: #0A3871;
}
#btncopiar.no-hover:hover{
    padding: 24px;
    background: #D8DFE8;
    color: #0A3871;
}
.mensaje-inicial{
    width: 80%;
    height: 10%;
    margin: 10px 15px 10px 20px;
    position: absolute;
    top: 20%;
    bottom: calc(65% + 5px);
    
}
.mensaje-inicial img{
    width: 93%;
    height: 400%;
    box-sizing: border-box;
    padding: 0;
    margin: 20px 10px;
}
.mensaje-inicial p{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin: 20px 0;
}
.mensaje-inicial p{
    font-weight: bold;
    
}
.mensaje-inicial p:last-child{
    font-weight:normal;
    font-size: 14px;
}
@media screen and (max-width: 1100px){
    .mensaje-inicial img{
        margin: 10px 0;
    }
    .mensaje-inicial p{
        width: 80%;
        margin: 20px 10px;
    }
    #btncopiar{
        right: 4%;
    }
}
@media screen and (max-width: 770px){
    header{
        display: block;
        height: auto;
        display: block;
    }
    main{
        width: 100%;
        height: auto;
        display: block;
    }
    .entrada-texto{
        display: block;
        height: auto;
        width: 100%;
        padding: 30px;
    }
    .salida-texto{
        margin-top: 30px;
        display: block;
        height: auto;
        width: 90%;
        padding: 0 0 100px 0;
        position: absolute;
        top: 80%;
        left: 4%;
    }
    .mensaje-inicial{
        top: 5%;
        left: 6%;
        right: 10%;
        bottom: 0;
        height: auto;
    }
    .mensaje-inicial p{
        width: auto;
        position: static;
        margin: 10px;
        
    }
    .mensaje-inicial img{
        display: none;
    }
    #btncopiar{
        top: 55%;
    }
    #texto-salida{
        bottom: 87%;
    }
}
@media screen and (max-width: 360px){
    .boton{
        width: 100%;
        display: block;
    }
    .salida-texto{
        padding: 100px 10px 70px;   
    }
    .mensaje-inicial{
        left: 4%;
    }
}